---
layout: page
title: Afoozle
tagline: Dot Github Dot Com
---
{% include JB/setup %}

<section class="content">
    <ul class="nav nav-tabs nav-stacked blogs">
        {% for post in site.posts %}

        <article class="blogpost">
            <header>
                <h1>{{ post.title }}</h1>
            </header>
            {{ post.content }}
            <footer>
                {{ post.date | date_to_long_string }}
            </footer>
        <article>
        {% endfor %}
    </ul>
</section>